@import 'Global';

.card {
  display: inline-grid;
  background-color: $card;
  border-radius: 4px;
  margin: 10px 10px 0 0;
  padding: 25px;
  width: calc(33% - 58px);

  h3 {
    font-size: 20pt;
    margin: 0 0 16px 0;
    color: white;
  }

  a {
    color: $green;
  }

  p {
    margin: 0;
  }

  .card-header {
    position: relative;
  }

  .plus-btn {
    position: absolute;
    top: -10px;
    right: -20px;
  }

  .subheader-container {
    display: flex;
    margin: 0 0 16px 0;


    .proj-icon {
      display: flex;

      svg {
        margin: 2px 0 0 0;
      }
    }
  }

  .featured-label {
    color: $off-white;
    font-size: 8pt;
    font-weight: 600;
    border: 1.5px solid $off-white;
    border-radius: 5px;
    padding: 5px 8px;
    width: fit-content;
    margin-right: 12px;
    height: fit-content;
  }

  .tech-container {
    display: flex;

    .featured-label {
      margin: 16px 10px 0 0;
    }
  }
}

.card-mobile {
  width: 100%;
}
