@import 'Global';

.expandable-container {
  margin-bottom: 14px;

  .expandable-header {
    display: flex;
    align-items: center;

    p {
      margin: 0 5px 0 0;
    }
  }

  .expandable-content {
    //max-height: 400px;
    max-height: none;
    //transition: max-height 600ms ease-in;
    //overflow: hidden;
  }

  .expandable-hidden {
    max-height: 0;
    //transition: max-height 600ms ease-out;
    overflow: hidden;
  }
}
