$gray-background: #27282E;
$gray-light: #767A7E;
$off-white: #DAE0E6;
$dark: #1B1C20;
$card: #4b4c53;

$green: #30B96E;
$green-hover: #2C7F54;
$green-active: #2C704E;

$error: #ff7d5b;

$content-margin: 65%;
