@import 'Global';
@import 'App';

h1 {
  margin: 0 0 30px 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 66pt;
  font-weight: 900;
  color: $off-white;
}

h2 {
  margin: 0 0 10px 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 36pt;
  font-weight: bold;
  color: white;
}

h3 {
  margin: 0 0 10px 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 32pt;
  font-weight: 600;
  color: $green;
}

h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16pt;
  font-weight: 500;
  color: white;
}

h5 {
  margin: 6px 0 10px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16pt;
  font-weight: 500;
  color: $off-white;
}

p { // Body2
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16pt;
}

p .body1 { // Body1
  font-size: 22pt;
}

p .body3 { // Body3
  font-size: 15pt;
  text-align: center;
}

li {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16pt;
}

button {
  border: none;
  color: transparent;
  background-color: transparent;
  outline: 0;
}

button:hover {
  cursor: pointer;
}


.timeline {
  width: 100%;
  position: relative;
}

.timeline::after {
  background-color: $green;
  position: absolute;
  width: 2px;
  content: '';
  top: 0;
  bottom: 0;
  left: 10%;
}

.timeline-section {
  position: relative;
  width: 90%;
  left: 10%;
}

.timeline-dot {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: calc(10% - 10px);
  background-color: $green;
  border-radius: 50%;
  z-index: 1;
}

.timeline-content {
  background-color: $gray-background;
  padding: 10vh 20vw 10vh 10vw;
  position: relative;
  height: 80%;
}

.expandable-header {
  display: flex;
  align-items: center;
  margin-top: 17px;

  p {
    margin: 0 5px 0 0;
  }
}

.plus-btn {
  height: 15px;

  .plus {
    position: relative;
    width: 10px;
    height: 2px;
    background-color: $green;
    transform: rotateZ(0deg);
    transition: transform 500ms ease-in-out;
  }

  .plus::after {
    content: '';
    display: block;
    position: relative;
    bottom: 4px;
    left: 4px;
    width: 2px;
    height: 10px;
    background-color: $green;
    transform: rotateZ(0deg);
    transition: transform 500ms ease-in-out;
  }

  .x {
    transform: rotateZ(45deg);
    transition: transform 500ms ease-in-out;
  }

  .x::after {
    transform: rotateZ(180deg);
    transition: transform 500ms ease-in-out;
  }
}

.expandable-content {
  max-height: 300px;
  transition: max-height 600ms ease-in;
  overflow: hidden;
}

.expandable-hidden {
  max-height: 0;
  transition: max-height 600ms ease-out;
  overflow: hidden;
}

.border-right {
  border-right: 0.07em solid #6c6e77;
}

.name-desk {
  display: inline-block;
}

.name-mobile {
  width: 100%;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10vh;
}

.intro {
  text-align: left;
  width: 100%;
  display: flex;

  .emphasis {
    color: $green;
    font-style: italic;
  }

  .intro-inner {
    margin: auto auto auto 0;

    .intro-blurb {
      font-size: 22pt;
      width: 600px;
    }
  }
}

.intro-mobile {
  min-height: 100vh;
}

.intro-inner-mobile {
  margin: 15vh 5vw auto 5vw;
}


.intro-blurb-mobile {
  margin: 0 10vw;
  text-align: center;
  font-size: 24px;
  width: 80%;
}

.about {
  width: 100%;

  .about-inner {
    display: flex;

    .about-text {
      max-width: 60%;
      text-align: left;
    }

    .about-profile {
      width: 40%;
      display: flex;
      align-items: center;

      .profile-crop {
        margin: auto;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
        filter: grayscale(100%);

        .profile-img {
          margin: -125px 0 0 -85px;
          width: 430px;
        }
      }
    }
  }
}

.about-mobile {
  min-height: 100vh;
}

.about-inner-mobile {
  flex-wrap: wrap;
}


.about-text-mobile {
  margin: 10px 13vw;
  width: 100vw;
}


.about-profile-mobile {
  width: 100%;
  display: flex;
  align-items: center;
}


.profile-crop-mobile {
  margin: 20px auto;
}


.profile-img-mobile {
  margin: -130px 0 0 -85px;
  width: 145%;
}

.highlights {
  margin: 0;

  .highlight {
    margin: 50px 0 0 0;
    border-radius: 10px;

    .highlight-title {
      text-align: left;
      //padding-left: 5px;
    }

    .highlight-skills {
      width: 60%;
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;

      .highlight-skill {
        //margin: 5px 10px 5px 0;
      }
    }
  }
}

.highlights-mobile {
  flex-wrap: wrap;
  padding: 10px 4vw;

  .highlight-mobile {
    width: 100%;
  }
}

.skill-proficient {
  opacity: 1;
}

.skill-knowledgeable {
  opacity: 0.7;
}

.skill-familiar {
  opacity: 0.4;
}

.skill-cert {
  opacity: 1;
}

.body {
  margin: 0;
}

.body-mobile {
  margin: 10px 13vw;
}


.list-container {
  padding: 0;
  margin: 0;
  display: flex;
}

.list-container-mobile {
  width: 80vw;
  display: block;
  padding-left: 0;
}

.list-container li {
  margin: 5px;
}

.list-container-mobile li {
  margin: 3px 0;
}

.list {
  margin: 10px 5% 0 5%;
}

.list-mobile {
  margin: 10px 5% 0 5%;
  padding: 0;
}

//
//li:before {
//  content: '-';
//  position: absolute;
//  margin-left: -1.1em;
//    overflow:hidden;
//}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(0px, -3px) rotate(3deg);
  }
  20% {
    transform: translate(0px, -4px) rotate(5deg);
  }
  30% {
    transform: translate(0px, -4px) rotate(3deg);
  }
  40% {
    transform: translate(0px, -3px) rotate(-5deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  60% {
    transform: translate(0px, 3px) rotate(5deg);
  }
  70% {
    transform: translate(0px, 4px) rotate(3deg);
  }
  80% {
    transform: translate(0px, 4px) rotate(-5deg);
  }
  90% {
    transform: translate(0px, 3px) rotate(-3deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.skill-all {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px 10px 5px 0;
}

.skill-all:hover {
  filter: brightness(120%);
  cursor: default;
}

.skills {
  margin: 17px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.skill-animation {
  animation: shake 500ms ease-in-out;
}

.body-skill {
  //margin: 5px;
}

.projects {
  width: 100%;
}

.project-body {
}

.project-body-mobile {
  margin: 10px 13vw;
}

.project {
  display: flex;
  border-radius: 5px;
  padding: 20px 0;
  margin: 0;
  justify-content: space-between;

  h3 {
    color: white;
    margin-right: 20px;
  }

  .featured-project-header {
    display: flex;
    align-items: center;
  }

  .featured-year {
    color: $green;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid $green;
    border-radius: 5px;
    padding: 6px 8px;
  }
}

.project-mobile {
  flex-wrap: wrap;
  margin: 0;
}

.project-descript {
  width: 47.5%;
}

.project-descript-mobile {
  width: 100%;
  padding: 0;
}

.project-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.proj-skill {
  //margin: 5px;
}

.img-container {
  display: flex;
  width: 47.5%;
}

.img-container-mobile {
  width: 100%;
  margin: 20px 0;
}

.img-proj {
  width: 90%;
  border-radius: 5px;
}

.additional-projects {
  //display: flex;
  //flex-direction: column;
  //flex-flow: column wrap;
  //align-content: space-between;
  //max-height: 2000px;
  column-count: 2;
  column-gap: 5%;
}

.card {
  display: inline-grid;
  border: 2px solid $gray-light;
  border-radius: 4px;
  margin-bottom: 10%;
  padding: 10%;
  width: calc(100% - 20%);
  height: fit-content;

  a {
    color: $green;
  }

  .card-header {
    position: relative;
  }

  .plus-btn {
    position: absolute;
    top: -10px;
    right: -20px;
  }
}

.card-mobile {
  width: 100%;
}

#contact {
  text-transform: none;
  color: #284496;
}

.contact-anchor {
  width: 50px;
  margin: auto;
}

.contact-me {
  margin: auto;
  padding: 10px;
  border: 1px solid var(--green);
  background-color: var(--green);
  border-radius: 5px;
  width: 50px;
}

.contact-me:hover {
  cursor: pointer;
  color: var(--green);
  background-color: white;
}

.get-in-touch {
  margin: auto 0;
  text-align: left;
}

.get-in-touch-mobile {
  margin: auto;
  text-align: center;
}

.footer {
  margin: 100px 25vw 0 20vw;
  padding: 10px;
}

.footer p {
  font-size: 13px;
}

.slide-up {
  position: relative;
  top: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}

.slide-up-hide {
  position: relative;
  top: 150px;
}

.fade-in {
  opacity: 1;
  position: relative;
  top: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

.fade-in-hide {
  opacity: 0;
  position: relative;
  top: 15px;
}

/*:target:before {*/
/*!* Fix for adding getOffset to anchor tags *!*/
/*content:"";*/
/*display:block;*/
/*height:90px;*/
/*margin:-90px 0 0;*/
/*}*/
