@import 'Global';
@import 'App';

h1 {
  margin: 0 0 30px 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 66pt;
  font-weight: 900;
  color: $off-white;
}

h2 {
  margin: 0 0 32px 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 34pt;
  font-weight: bold;
  color: white;
}

h3 {
  margin: 24px 0;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 22pt;
  font-weight: 600;
  color: $green;
}

h4 {
  margin: 12px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14pt;
  font-weight: 500;
  color: white;
}

h5 {
  margin: 6px 0 10px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14pt;
  font-weight: 500;
  color: $off-white;
}

h6 {
  margin: 12px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14pt;
  font-weight: 500;
  color: $off-white;
}

p { // Body2
  margin: 16px 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14pt;
}

p .body1 { // Body1
  font-size: 20pt;
}

p .body3 { // Body3
  font-size: 13pt;
  text-align: center;
}

li {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14pt;
}

button {
  border: none;
  color: transparent;
  background-color: transparent;
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.plus-btn {
  height: 15px;

  .plus {
    position: relative;
    width: 10px;
    height: 2px;
    background-color: $green;
    transform: rotateZ(0deg);
    transition: transform 500ms ease-in-out;
  }

  .plus::after {
    content: '';
    display: block;
    position: relative;
    bottom: 4px;
    left: 4px;
    width: 2px;
    height: 10px;
    background-color: $green;
    transform: rotateZ(0deg);
    transition: transform 500ms ease-in-out;
  }

  .x {
    transform: rotateZ(45deg);
    transition: transform 500ms ease-in-out;
  }

  .x::after {
    transform: rotateZ(180deg);
    transition: transform 500ms ease-in-out;
  }
}

.plus-btn:hover {
  .plus, .x, .plus::after, .x::after {
    background-color: $green-hover;
  }
}

.plus-btn:active {
  .plus, .x, .plus::after, .x::after {
    background-color: $green-active;
  }
}

.border-right {
  border-right: 0.07em solid #6c6e77;
}

.name-desk {
  display: inline-block;
}

.name-mobile {
  width: 100%;
  font-size: 50px;
  text-align: center;
  margin-bottom: 10vh;
}

.intro {
  text-align: left;
  width: 100%;
  display: flex;

  .emphasis {
    color: $green;
    font-style: italic;
  }

  .intro-inner {
    margin: auto auto auto 0;

    .intro-blurb {
      font-size: 19pt;
      width: 700px;
    }
  }
}

.intro-mobile {
  height: 100%;

  .intro-inner-mobile {

    .intro-blurb-mobile {
      text-align: center;
      width: auto;
    }
  }
}

.about {
  width: 100%;

  .about-inner {
    display: flex;

    .about-text {
      max-width: 60%;
      text-align: left;

      .about-inside {
        margin-bottom: 60px;
      }
    }

    .about-profile {
      width: 40%;
      display: flex;
      align-items: center;

      .profile-crop {
        margin: auto;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
        filter: grayscale(100%);

        .profile-img {
          margin: -125px 0 0 -85px;
          width: 430px;
        }
      }
    }
  }
}

.about-mobile {
  .about-inner-mobile {
    flex-wrap: wrap;

    .about-text-mobile {
      max-width: 100%;
    }

    .about-profile-mobile {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.highlights {
  margin: 0;

  .highlight {
    margin: 50px 0 0 0;
    border-radius: 10px;

    .highlight-title {
      text-align: left;
    }

    .highlight-skills {
      width: $content-margin;
      display: flex;
      flex-wrap: wrap;
    }

    .highlight-skills-mobile {
      width: auto;
    }
  }
}

.skill-proficient {
  opacity: 1;
}

.skill-knowledgeable {
  opacity: 0.7;
}

.skill-familiar {
  opacity: 0.4;
}

.skill-cert {
  opacity: 1;
}

.body {
  margin: 0;
}

.body-mobile {
  width: 100%;
}

.list-container {
  padding: 0;
  margin: 0;
  display: flex;
}

.list-container-mobile {
  width: 80vw;
  display: block;
  padding-left: 0;
}

.list-container li {
  margin: 5px;
}

.list-container-mobile li {
  margin: 3px 0;
}

.list {
  margin: 0 30px;
  padding: 0;
}

.list-mobile {
  margin: 10px 5% 0 5%;
  padding: 0;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(0px, -3px) rotate(3deg);
  }
  20% {
    transform: translate(0px, -4px) rotate(5deg);
  }
  30% {
    transform: translate(0px, -4px) rotate(3deg);
  }
  40% {
    transform: translate(0px, -3px) rotate(-5deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  60% {
    transform: translate(0px, 3px) rotate(5deg);
  }
  70% {
    transform: translate(0px, 4px) rotate(3deg);
  }
  80% {
    transform: translate(0px, 4px) rotate(-5deg);
  }
  90% {
    transform: translate(0px, 3px) rotate(-3deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.skill-all {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  padding: 8px 16px;
  min-width: 70px;
  text-align: center;
  margin: 6px 10px 6px 0;
}

.skill-all:hover {
  cursor: default;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-animation {
  animation: shake 500ms ease-in-out;
}

.body-skill {
}

.projects {
  width: 100%;
}

.project-body {
}

.project-body-mobile {
}

.featured-projects {
  margin-bottom: 80px;
}

.project {
  display: flex;
  border-radius: 5px;
  margin: 0 0 40px 0;
  justify-content: space-between;

  h3 {
    color: white;
  }

  p {
    margin-top: 0;
  }

  .featured-project-header {
    display: flex;
    align-items: center;
  }

  .featured-year {
    color: $off-white;
    font-size: 12px;
    font-weight: 600;
    border: 1.5px solid $off-white;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 0 24px;
  }

  .proj-icon {
    display: flex;
    margin: 0 16px 0 0;

    img {
      margin: auto;
    }
  }
}

.project-mobile {
  flex-wrap: wrap;
  margin: 0;
}

.project-descript {
  width: 47.5%;
}

.project-descript-mobile {
  width: 100%;
  padding: 0;
}

.project-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.proj-skill {
}

.right-half {
  display: flex;
  width: 47.5%;

  .img-container {
    //display: flex;
    //justify-content: flex-end;
    margin: auto;
    text-align: center;

    .img-proj {
      width: 90%;
      border-radius: 5px;
    }
  }
}

.right-half-mobile {
  width: 100%;
  margin-top: 16px;
}

.img-container-mobile {
  width: 100%;
  margin: 20px 0;
}

.additional-projects {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.contact-anchor {
  width: 50px;
  margin: auto;
}

.contact-me {
  margin: auto;
  padding: 10px;
  border: 1px solid var(--green);
  background-color: var(--green);
  border-radius: 5px;
  width: 50px;
}

.contact-me:hover {
  cursor: pointer;
  color: var(--green);
  background-color: white;
}

.get-in-touch {
  margin-bottom: 32px;
}

.get-in-touch-mobile {
  margin: auto;
  text-align: center;
}

.footer {
  margin: 100px 25vw 0 20vw;
  padding: 10px;
}

.footer p {
  font-size: 13px;
}

.slide-up {
  position: relative;
  top: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;
}

.slide-up-hide {
  position: relative;
  top: 150px;
}

.fade-in {
  opacity: 1;
  position: relative;
  top: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
}

.fade-in-hide {
  opacity: 0;
  position: relative;
  top: 15px;
}
