@keyframes display-none {
    to {
        visibility: hidden;
    }
}

.nav-inner {
    font-size: 18px;
    font-weight: 500;
    margin: auto 15px;
}

.nav-inner-mobile {
    margin: auto;
}

.nav-link {
    text-decoration: none;
    height: 75%;
    display: flex;
    border-radius: 5px;
    color: #1e2f60;
}

.nav-link:hover {
    cursor: pointer;
    color: var(--green);
}

.nav-link-mobile {
    width: 100%;
    height: 75px;
}

.main-link {
    color: white;
    border: 1px solid var(--green);
    background-color: var(--green);
    margin-left: auto;
}

.main-link:hover {
    background-color: white;
    color: var(--green);
}

.nav-left {
    width: 50vw;
    display: flex;
    height: 50px;
    align-items: center;
}

.nav-left-mobile {
    width: 100%;
    height: 100%;
    display: block;
}

.nav-right {
    width: 50vw;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.nav {
    z-index: 2;
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100vw;
    transform: translateY(0px);
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
    top: 0;
}

.hide {
    transform: translateY(-70px);
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
    animation: display-none 0s 150ms forwards;
}

.nav-mobile {
    text-align: right;
    border-bottom: var(--lightgrey) 1px solid;
}

.menu-nav-bar {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 75px;
    height: 100%;
    padding: 0;
}

.menu {
    width: 20px;
    margin: auto;
}

.menu-container {
    z-index: 2;
    height: 100vh;
    width: 75vw;
    background-color: white;
    border-left: var(--lightgrey) 1px solid;
    text-align: right;
    alignment: right;
    position: fixed;
    transform: translateX(0px);
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
    right: 0;
}

.hide-left {
    transform: translateX(75vw);
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
    animation: display-none 0s 100ms forwards;
}

.blur {
    z-index: 1;
    background-color: var(--darkgrey);
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.75;
    /*filter: blur(3px);*/
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.menu-expanded {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 75px;
    height: 100%;
    padding: 0;
}

.menu-btn-container {
    height: 75px;
}

.menu-hidden {
    visibility: hidden;
}

.icon-container {
    margin: auto;
    height: 75px;
    width: 75px;
}

.icon-btn {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 75px;
    height: 100%;
    padding: 0;
}

.icon {
    width: 35px;
    margin: auto;
}
