.nav-inner {
    font-size: 18px;
    font-weight: 500;
    margin: auto 15px;
}

.nav-link {
    text-decoration: none;
    height: 75%;
    display: flex;
    border-radius: 5px;
    color: #1e2f60;
}

.nav-link:hover {
    cursor: pointer;
    color: #197a88
}

.main-link {
    color: white;
    border: 1px solid #197a88;
    background-color: #197a88;
    margin-left: auto;
}

.main-link:hover {
    background-color: white;
    color: #197a88;
}

.nav-left {
    width: 50vw;
    display: flex;
    height: 50px;
    align-items: center;
    margin-left: 35px;
}

.nav-right {
    width: 50vw;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.nav {
    z-index: 2;
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100vw;
    transform: translateY(0px);
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
    top: 0;
}

.hide {
    transform: translateY(-50px);
    transition-timing-function: ease-in-out;
    transition-duration: 150ms;
}
