@import 'Global';

@keyframes grow {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(2);
  }
  100% {
    transform: scale(1.5);
  }
}

.timeline {
  width: 100%;
  position: relative;

  .timeline-section {
    padding: 10vh (80% - $content-margin) 10vh 10vw;
    position: relative;
    width: $content-margin;
    left: 10%;

    .timeline-line {
      background-color: $green;
      position: absolute;
      width: 2px;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    .timeline-content {
      margin: auto 0;
      position: relative;
    }

    .timeline-content-text {
      width: 60%;
    }
  }

  .timeline-section-mobile {
    padding: 10vh (90% - $content-width-mobile) 10vh 5vw;
    width: $content-width-mobile;
    left: 5%;
  }

  .timeline-dot {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -6px;
    border: 2px solid $green;
    background-color: $gray-background;
    border-radius: 50%;
    z-index: 1;
  }

  .timeline-dot-filled {
    background-color: $green;
    animation: grow 400ms forwards;
  }

  .timeline-dot-start {
    transform: scale(1.5);
    background-color: $green;
  }
}
